<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <title>Angular TO DO</title>

  <!-- CSS  -->
  <link href="node_modules\materialize-css\dist\css\materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection">

  <script src="node_modules\angular\angular.min.js"></script>
</head>
<body class="blue" ng-controller="TodoListController">

  <!-- HEADER -->
  <div class="section no-pad-bot " id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center  blue-text text-lighten-5"><b>Angular TODO</b></h1>
      <p class="center blue-text text-lighten-5">You have to do <b> 1 </b> thing today</p>
      <br><br>

    </div>
  </div>


  <div class="section blue accent-1">
    <div class="container">
      <div class="row center">
        <div class="row">


          <!-- Text Input -->
          <div class="input-field col s6 offset-s2 white z-depth-1">
            <label for="task">Task</label>
            <input id="task" type="text" class="validate" autocomplete="false" ng-model="yourTask">
          </div>
          <div class="input-field col offset-s1 ">
            <a href="#" class="btn-large z-depth-3 waves-effect waves-light orange" ng-click="addTodo()">I'LL DO IT</a>
          </div>


        </div>

      </div>

      <!-- Tasks -->
      <ul class="collection z-depth-1">
        <li class="collection-item" ng-repeat="todoItem in todos track by $index">
          <div>
            <input type="checkbox" id="{{$index}}" class="left-align"/>
            <label for="{{$index}}">
              {{todoItem.text}}
            </label>
            <a href="#!" class="secondary-content" ng-click="deleteTodo($index)"><i class="material-icons">x</i></a>
          </div>
        </li>
      </ul>


    </div>
  </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="node_modules\materialize-css\dist\js\materialize.min.js"></script>
  <script src="js/app.js"></script>


</body>
</html>
